# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv2/
env/
venv/
*.env

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Optional: large datasets you don’t want in repo
# Data/
